<div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h1>Formulario</h1>
                <form [formGroup]="employeeForm">
                    <div>
                        <label>Nombre</label>
                        <input type="text" formControlName="name">
                    </div>
                    <div>
                        <label for="">Posicion</label>
                        <input type="text" formControlName="position">
                    </div>
                    <div>
                        <label for="">Oficina</label>
                        <input type="text" formControlName="office">
                    </div>
                    <div>
                        <label for="">Sueldo</label>
                        <input type="number" formControlName="salary">
                    </div>
                    <button (click)="submitEmployees()">Cargar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tr *ngFor="let employee of employeeArr">
                <td>{{ employee.name }}</td>
                <td>{{ employee.position }}</td>
                <td>{{ employee.office }}</td>
                <td>{{ employee.salary }}</td>
            </tr>
        </table>
    </div>
</div>